/* .size img {
    height: 50px; */
    /* max-width: 100%;
    max-height: 100%; */
/* } */

/* .text {
    font-style: italic;
    padding-left: 7px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
} */

.login-container , .signup-container{
    background-image: url('../../../Assets/bg.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: grey; */

}
.login-box ,.signup-box{
    background-color: white;
    margin: 20px 0;
    padding: 3rem;
    border-radius:10px;
    width: 450px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
    font-size: 18px;
    text-align: center;
}
.login-box h2 , .signup-box h2{
    margin-bottom: 1rem;
color: #000;
}
.login-box input , .signup-box input
{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    /* border-width: 0 0 1px; */
    /* border-bottom: 1px solid #000; */
    border: 1px solid #000;
    margin:8px 0;

}

.login-box button , .signup-box button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.toggle-link{
    text-align: center;
    margin-top: 12px;
    color: #000;
    cursor: pointer;
}
.link:hover
{
    text-decoration: underline;
}
.submit-btn
{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}