.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(34, 33, 33, 0.24);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 45px;
    min-height: 50px;
}

.navleft {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

 @media (max-width: 480px) {
    .navbar { 
        padding: 2px;
        min-height: 20px;
    }
}