.footer {
    background-color: #ededed;
    width: auto;
    height:300px;
  }
  
  div .section
  {
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      padding: 20px 80px;
  }
  
  div .company
  {
      display: flex;
      flex-direction: column;
  }
  .heading
  {
      padding:40px 80px;
  }