.cafes-list h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    /* text-align: center; */
    color: black;
    /* margin-bottom: 20px; */
    padding-top: 70px;
    padding-left: 30px;
}

.cafes-cont-wrapper {
    /* position: relative; */
    width: 100%;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 20px;
}

/* Container for the restaurant cards */
.cafes-cont {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* Add space between cards */
    justify-content: space-between;
    background-color: transparent;
    padding: 3px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;

}


/* Individual restaurant card */
.cafe1 {
    flex: 0 0 auto;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 15px;
    scroll-snap-align: start;
}

/* Hover effect to pop up */
.cafe1:hover {
    transform: translateY(-7px);
}

/* Restaurant image styles */
.cafe1-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    /* display: block; */
    margin-bottom: 10px;
}

.cafe1-det {
    padding-left: 15px;
    z-index: 1;
}

.cafe1-det h2 {
    font-size: 25px;
    color: #000000;
    margin: 10px 0;
}

.cafe1-det p {
    font-size: 15px;
    color: #023216;
}

.arrow {
    position: absolute;
    top: 50%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

.left {
    left: 2px;
}

.right {
    right: 10px;
}

@media (max-width: 480px) {

    .cafes-list h1
    {
        font-size: 1.9rem;
        padding: 25px 0;
        text-align: center;
    }

    /* .cafes-cont-wrapper
    {
        overflow:visible;
    } */

    .cafes-cont{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            overflow: visible; 
    }
    .cafe1 {
        width: 90%; 
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0px 7px 18px  rgba(0, 0, 0, 0.481);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
      }

      .arrow {
        display: none;
      }
}