/* Add this to Menu.css */

.food-menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #ff9800;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: #e68900;
}

.menu-items {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* justify-content: center; */
}

.menu-item-card {
  display: flex;
  max-width: 840px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.food-img {
  width: 150px;
}

.item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-to-cart {
  text-align: center;
  padding: 10px 20px;
}

.add-to-cart,
.btn-controls {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.btn-controls {
  display: flex;
  align-items: center;
}

.Q-btn{
    background-color: #fff;
    border: none;
    /* color: #00a85a; */
    padding:  10px 20px;
    font-size: 20px;
    outline: none;
}
.Q-btn:hover{
    background-color:#f1f1f1;
}

.Q-number{
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    width: 20px;
}
.item-details {
  line-height: 30px;
  flex-grow: 4;
}

.item-name {
  font-size: 1.5rem;
}
.menu-item-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.go-to-cart-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.go-to-cart-button:hover {
  background-color: #45a049;
}

@media (max-width: 480px) {

  .food-menu h2 
  {
    margin: 5px 0 12px 0;
  }

  .item-details .price{
    font-weight: bold;
  }
}